html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: "Krub", sans-serif;
}

img {
    height: 20rem;
    width: 30rem;
}

.header {
    border-bottom: 0.2rem solid black;
    border-color: black;
    margin-bottom: 3.5rem;
    text-align: center;
}

.title, .subtitle {
    font-weight: normal;
}

.title {
    font-size: 3rem;
}

.subtitle a {
    font-weight: bold;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.image {
    text-align: center;
    border: 1px solid black;
    margin-bottom: 1rem;
}


